
        #wrapper {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
        }
        
        #container {
            display: flex;
            justify-content: space-between;
            width: 1440px;
        }
        
        #center {
            width: 910px;
            display: flex;
            border: 1px solid rgb(244,244,245);
            border-top-color: azure;
            border-bottom:none ;
        }
        #intocenter{
            width: 820px;
            height:950px;
            margin-top: 20px;
            margin-left: 40px; 
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .title{
            margin-top: 13px;
            width: 830px;
            display: flex;
            justify-content: space-between;
        }
        .circlee{
            position: absolute;
            margin-left: 750px;
            margin-top: 15px;
        }
        #user{
            position: absolute;
            margin-left: 7px;
        }
        .imgbig{
            width: 910px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .mic{
            display: flex;
            flex-direction: row;
            position: absolute;
            margin-top: 15px;
        }
        .circle{
            position: absolute;
            margin-left: 25px;
            margin-top: 15px;
        }
        .Internal{
            display: flex;
            width: 340px;
            align-items: center;
            justify-content: space-between;
        }
        .imgsmall{
            width: 833px;
            display: flex;
            justify-content: space-between;
        }
        .micsmall{
            width: 833px;
            display: flex;
            justify-content: space-between;
        }
        .mic2{
            width: 260px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .mics{
            width: 240px;
            margin-left: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: absolute;
            margin-top: 115px;
        }
        .cir{
            position: absolute;
            margin-left: 6px; 
        }
        .speak{
            margin-left: 160px;
            width: 480px;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
        #right {
            width: 440px;
            display: flex;
            flex-direction: column;
        }
        #participant{
            width: 385px;
            margin-top: 35px; 
            margin-left: 35px;
            display: flex;
            justify-content: space-between;
        }
        .par{
            
            display: flex;
            justify-content: space-between;
           
        }
        .for{
            margin-top: 5px;
            font-size: 13px;
            color: crimson;
            margin-left: 10px;
            border-radius:100%;
            background-color:rgb(253,242,244);
            padding: 7px;height: 10px;
            display: flex;
            align-items: center;
        }
        .add{
            padding: 10px;
            width: 75px;
            border-color: coral;
            background-color: white;
            color: coral;
        }
        .person{
            display: flex;
            height: 52px;
            justify-content: space-between;
        }
        .online{
            margin-top: 45px;
            margin-right: 20px;
            width: 80px;
            height: 22px;
            display: flex;
            justify-content: space-around;
        }
        .online:last-child{
            display: flex;
            align-items: center;
            height: 10px;
            font-size: 23px;
        }
        .name{
            margin-left: 35px;
            margin-top: 25px;
            width: 145px;
            height: 40px;
            display: flex;
            justify-content: space-between;
        }
        .name1{
            margin-left: 35px;
            margin-top: 25px;
            width: 175px;
            height: 40px;
            display: flex;
            justify-content: space-between;
        }
        .name3{
            margin-left: 35px;
            margin-top: 25px;
            width: 135px;
            height: 40px;
            display: flex;
            justify-content: space-between;
        }
        #chat{
            height: 650px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding-bottom: 15px;
        }
        .b{
            margin-top: 30px;
            font-size:27px;
            margin-left: 30px;
        }
        .review{
            margin-left: 30px;
            
            width: 230px;
            height: 40px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
        .review3{
            margin-left: 30px;
            width: 270px;
            height: 40px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
        #faceheart{
            background-color: rgb(253,242,244);
            width: 80px;
            padding: 10px 10px;
            font-size: 19px;
            margin-left: 95px;
        }
        .review4{
            margin-left: 30px;
            width: 170px;
            height: 40px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
        .write{
            display: flex;
            justify-content: space-around;
        }
        .smile{
            position: absolute;
            margin-left: 250px;
            margin-top: 10px;
        }
        .pp{
            display: flex;
            flex-direction: row;
            width: 300px;
            padding: 15px;
            background-color: rgb(248,249,250);
            margin-left: 95px;
            margin-top: 15px;
        }
        
        #left {
            width: 90px;
            height: 870px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        
        #left_above {
            width: 100%;
            height: 500px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }
        .circles{
            display: flex;
            position: absolute;
            margin-bottom: 80px;
            margin-left: 20px;
        }
        
        #below {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        
        .item {
            width: 32px;
             margin-top: 50px; 
        }
        
        #setting {
            margin-top: 36px;
        }